/* GENERAL STYLES */
:root {
    --main: #252F3A;
    --secondary: #435258;
    --green: #1AB187;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

section {
    min-height: 100vh;
}

/* GENERAL CLASSES */
.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* SIGNUP/LOGIN VIEW */
section.login-container {
    background-color: var(--main);
}

div.box {
    padding: 1.5em;
    min-height: 70vh;
    min-width: 30vw;
    border-radius: 4px;
    background-color: var(--secondary);
}

div.box h1 {
    text-align: center;
    margin: 1em 0;
    font-size: 35px;
    flex: 1;
    color: rgb(30, 30, 30);
    color: #eee;
}

div.buttons {
    width: 100%;
    justify-content: space-between;
    gap: 1em;
}

div.buttons a {
    width: 50%;
    padding: .7em 0;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a.active {
    background-color: var(--green);
}

a.inactive {
    background-color: #1ab1864c;
}

/* FORM */
div.form button {
    background-color: var(--green);
    width: 100%;
    padding: .7em 0;
    font-size: 21px;
    color: white;
    border: none;
}

/* INPUT COMPONENT */
div.input {
    width: 100%;
}

div.input input {
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid #ccc;
    padding: .8em 2em;
    font-size: 18px;
    margin-bottom: 5px;
}

div.input input::placeholder {
    color: #ccc;
}

div.input input:focus {
    border: 2px solid whitesmoke;
    outline: none;
}

div.input div {
    min-height: 25px;
    margin-bottom: 2em;
}

div.input span {
    color: #1ab186bb;
}

/* MEDIA QUERIES */
@media (max-width: 1400px) {}

@media (max-width: 1200px) {
    div.box {
        width: 35vw;
    }
}

@media (max-width: 992px) {
    div.box {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    div.box {
        width: 55vw;
    }
}

@media (max-width: 576px) {
    div.box {
        width: 80vw;
    }
}